{% extends 'DefaultBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        {{ 'subtitle' | trans({}, 'contact') }}
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/soulet.jpg') }}" alt="">
                </div>
                <div class="col-md-6">
                    <p>
                        <strong>{{ 'name' | trans({}, 'contact') }}</strong>
                    </p>
                    <p>
                        {{ 'phone.key' | trans({}, 'contact') }}:
                        <strong>{{ 'phone.number' | trans({}, 'contact') }}</strong>
                    </p>
                    <p>
                        {{ 'email.key' | trans({}, 'contact') }}:
                        <strong>
                            <a href="mailto:{{ 'email.address' | trans({}, 'contact') }}">
                                {{ 'email.address' | trans({}, 'contact') }}
                            </a>
                        </strong>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}
