{% extends 'DefaultBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="{{ asset('bundles/default/img/carousel-modif.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('bundles/default/img/entry-modif.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('bundles/default/img/exterior-modif.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('bundles/default/img/foyer-modif.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('bundles/default/img/golf-modif.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('bundles/default/img/restaurant-modif.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('bundles/default/img/guestroom-modif.jpg') }}" alt="">
                            </div>
                        </div>

                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>

                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>{{ ('presentation.title') | trans({}, 'home') }}</strong>
                    </h2>
                    <hr>
                    <p>
                        {{ ('presentation.text') | trans({}, 'home') | raw | nl2br }}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>{{ ('hotel.title') | trans({}, 'home') }}</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="{{ asset('bundles/default/img/intro-pic.jpg') }}">
                    <hr class="visible-xs">
                    <p>
                        {{ ('hotel.text') | trans({}, 'home') | raw }}
                    </p>
                </div>
            </div>
        </div>
		
		<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>{{ ('host.title') | trans({}, 'home') }}</strong>
                    </h2>
                    <hr>
                    <div class="col-xs-6">
                        <a href="http://www.pariscountryclub.com/" target="_blank">
                            <img class="img-responsive img-center" src="{{ asset('bundles/default/img/logo-pariscountry.png') }}">
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="http://www.marriott.fr/hotels/travel/parsc-renaissance-paris-hippodrome-de-st-cloud-hotel/" target="_blank">
                            <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/logo-hotelrenaissance.png') }}">
                        </a>
                    </div>
                    <div class="clearfix"></div>
				</div>
			</div>
        </div>	

		<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>{{ ('partners.title') | trans({}, 'home') }}</strong>
                    </h2>
                    <hr>
                    <table class="partners">
                        <tr>
                            <td>
                                <a href="http://www.vignelaure.com/" target="_blank">
							        <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/logo-vignelaure.png') }}">
                                </a>
                            </td>
                            <td>
                                <a href="http://www.vinoptimo.com/" target="_blank">
							        <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/logo-vinoptimo.png') }}">
                                </a>
                            </td>
							<td>
                                <a href="http://www.funbridge.com/" target="_blank">
							        <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/logo-funbridge.png') }}">
                                </a>
                            </td>
							<td>
                                <a href="http://www.lebridgeur.com/" target="_blank">
							        <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/logo-lebridgeur.png') }}">
                                </a>
                            </td>
                        </tr>
					</table>
				</div>
			</div>
        </div>		

		<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>{{ 'team.title' | trans({}, 'home') }}</strong>
                    </h2>
                    <hr>
                    <div class="col-md-6">
                        <div class="col-xs-6">
                            <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/soulet.jpg') }}">
                        </div>
                        <div class="col-xs-6">
                            <p>
                                <strong>Philippe Soulet</strong>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-xs-6">
                            <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/soulet.jpg') }}">
                        </div>
                        <div class="col-xs-6">
                            <p>
                                <strong>Claude Katan</strong>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6">
                        <div class="col-xs-6">
                            <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/soulet.jpg') }}" alt="">
                        </div>
                        <div class="col-xs-6">
                            <p>
                                <strong>Xavier Schurer</strong>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-xs-6">
                            <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/soulet.jpg') }}" alt="">
                        </div>
                        <div class="col-xs-6">
                            <p>
                                <strong>Sébastien Rotkoff</strong>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6">
                        <div class="col-xs-6">
                            <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/soulet.jpg') }}" alt="">
                        </div>
                        <div class="col-xs-6">
                            <p>
                                <strong>Benoit Deveze</strong>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-xs-6">
                            <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/soulet.jpg') }}" alt="">
                        </div>
                        <div class="col-xs-6">
                            <p>
                                <strong>Epsilon</strong>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
		
		<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>{{ ('links.title') | trans({}, 'home') }}</strong>
                    </h2>
                    <hr>
                    <p>
						{{ ('links.text') | trans({}, 'home') }}
                    </p>
                    <br>
                    <table class="partners">
                        <tr>
                            <td>
                                <a href="http://www.comitedeparis.fr/">
                                    <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/logo-comiteparis.png') }}">
                                </a>
                            </td>
                            <td>
                                <a href="http://www.ffbridge.asso.fr/">
                                    <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/logo-ffb.png') }}">
                                </a>
                            </td>
                            <td>
                                <a href="http://www.worldbridge.org/">
                                    <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/logo-WBF.png') }}">
                                </a>
                            </td>
                        </tr>
                    </table>
                    <br><br>
                    <p>
						<strong> {{ ('links.continue') | trans({}, 'home') }} </strong>
                    </p>
                    <br>
                    <table class="partners">
                        <tr>
                            <td>
                                <a href="http://www.parisinfo.com/" target="_blank">
                                    <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/logo-otparis.png') }}">
                                </a>
                            </td>
                            <td>
                                <a href="http://francebridge.free.fr/index.php?option=com_content&view=frontpage" target="_blank">
                                    <img class="img-responsive img-border img-center" src="{{ asset('bundles/default/img/logo-fb.png') }}">
                                </a>
                            </td>
                        </tr>
                    </table>
				</div>
			</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.carousel').carousel({ interval: 5000 })
    </script>
{% endblock %}
