{% extends 'DefaultBundle::base.html.twig' %}

{% block body %}
    <div class="container" id="partners">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>{{ 'subtitle' | trans({}, 'map') }}</strong>
                    </h2>
                    <hr>
                    <div class="col-md-6">
                        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24976.817710800722!2d2.1970064047503546!3d48.85125826007562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x4a4702797a757c34!2sParis+Country+Club!5e0!3m2!1sfr!2sfr!4v1439749902875">
                        </iframe>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <strong>{{ ('phone') | trans({}, 'main') | nl2br }}:</strong> 01 47 77 64 64
                        </p>
                        <p>
                            <strong>{{ ('email') | trans({}, 'main') | nl2br }}:</strong>
                            <a href="mailto: {{ 'email' | trans({}, 'presentation') }}">
                                {{ 'email' | trans({}, 'presentation') }}
                            </a>
                        </p>
                        <p>
                            <strong>{{ ('address') | trans({}, 'main') | nl2br }}:</strong>
                            121 Rue du Lieutenant-Colonel de Montbrison (92500 Rueil-Malmaison)
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
