{% extends 'DefaultBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <a href="http://www.worldbridge.org/">
                        <img class="img-responsive img-border img-left" src="{{ asset('bundles/default/img/logo-WBF.png') }}" alt="World Bridge Federation">
                    </a>
                    <p>
                        {{ ('text.WBF') | trans({}, 'partners')|nl2br }}
                    <p>
                </div>
                <div class="col-lg-12">
                    <a href="http://www.comitedeparis.fr/">
                        <img class="img-responsive img-border img-left" src="{{ asset('bundles/default/img/logo-comiteparis.png') }}" alt="Comite de Paris">
                    </a>
                    <p>
                        {{ ('text.comite') | trans({}, 'partners')|nl2br }}
                    <p>
                </div>
             </div>
        </div>

        <div class="row">
	  <div class="box">
               
                    <table style="border:0; background-color:transparent; width:100%;">
                        <tr>
                            <td style="border:0; padding:1%;"><IMG SRC="{{ asset('bundles/default/img/logo-pariscountry.png') }}"></td>
                            <td style="border:0; padding:1%;"><IMG SRC="{{ asset('bundles/default/img/logo-WBF.png') }}"></td>
                        </tr>
                        <tr>
                            <td style="border:0; padding:1%;"><IMG SRC="{{ asset('bundles/default/img/logo-ffb.png') }}"></td>
                            <td style="border:0; padding:1%;"><IMG SRC="{{ asset('bundles/default/img/logo-funbridge.png') }}"></td>
                        </tr>
                        <tr>
                            <td style="border:0; padding:1%;"><IMG SRC="{{ asset('bundles/default/img/logo-vignelaure.png') }}"></td>
                            <td style="border:0; padding:1%;"><IMG SRC="{{ asset('bundles/default/img/logo-lebridgeur.png') }}"></td>
                        </tr>
                        <tr>
                            <td style="border:0; padding:1%;"><IMG SRC="{{ asset('bundles/default/img/logo-fb.png') }}"></td>
                            <td style="border:0; padding:1%;"><IMG SRC="{{ asset('bundles/default/img/logo-vinoptimo.png') }}"></td>
                        </tr>
                    </table>
               
            </div>
       </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
