{% extends 'DefaultBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="{{ asset('bundles/default/img/carousel-modif.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('bundles/default/img/entry-modif.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('bundles/default/img/exterior-modif.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('bundles/default/img/foyer-modif.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('bundles/default/img/golf-modif.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('bundles/default/img/restaurant-modif.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('bundles/default/img/guestroom-modif.jpg') }}" alt="">
                            </div>
                        </div>

                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>{{ ('hotel.title') | trans({}, 'presentation') | nl2br }}</strong>
                    </h2>
                    <hr>
                    <p>
                        {{ ('hotel.text') | trans({}, 'presentation') | nl2br }}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>{{ ('reservation.title') | trans({}, 'presentation') | nl2br }}</strong>
                    </h2>
                    <hr>
                    <p>
                        {{ ('reservation.text') | trans({}, 'presentation') | nl2br }}
                    </p>
                    <br>
                </div>
                <div class="col-md-6">
                    <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42000.384196851555!2d2.2028795!3d48.85775249999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67b4c8931cd29%3A0x4a4702797a757c34!2sParis+Country+Club!5e0!3m2!1sfr!2sfr!4v1438449349506">
                    </iframe>
                </div>
                <div class="col-md-6">
                    <p>
                        <strong>{{ ('phone') | trans({}, 'main') | nl2br }}:</strong> 01 47 77 64 64
                    </p>
                    <p>
                        <strong>{{ ('email') | trans({}, 'main') | nl2br }}:</strong>
                        <a href="mailto:reception@pariscountryclub.com">reception@pariscountryclub.com</a>
                    </p>
                    <p>
                        <strong>{{ ('address') | trans({}, 'main') | nl2br }}:</strong>
                        121 Rue du Lieutenant-Colonel de Montbrison (92500 Rueil-Malmaison)
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.carousel').carousel({ interval: 5000 })
    </script>
{% endblock %}
