{% extends 'DefaultBundle::base.html.twig' %}

{% block body %}
    <div class="container" id="prizes">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <table class="prize">
                        <thead>
							<tr>
                                <td>
                                    {{ ('table.order.title') | trans({}, 'prizes') }}
                                </td>
                                <td>
                                    {{ ('table.mixte.title') | trans({}, 'prizes') }}
                                </td>
                                <td>
                                    {{ ('table.imps.title') | trans({}, 'prizes') }}
                                </td>
								<td>
                                    {{ ('table.open.title') | trans({}, 'prizes') }}
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in 1..5 %}
                                <td>
                                    {{ ('table.order.'~i) | trans({}, 'prizes') | raw}}
                                </td>
                                <td>
                                    {{ ('table.mixte.'~i) | trans({}, 'prizes') }}
                                </td>
                                <td>
                                    {{ ('table.imps.'~i) | trans({}, 'prizes') }}
                                </td>
								<td>
                                    {{ ('table.open.'~i) | trans({}, 'prizes') }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
					<br>
					<table class="prize">
						<tr>
							<td>
								{{ ('championship.title') | trans({}, 'prizes') }}
							</td>
							<td>
								{{ ('championship.prize') | trans({}, 'prizes') }}
							</td>
						</tr>
					</table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
