<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% image '@DefaultBundle/Resources/public/img/bg-hq.jpg' output='img/bg.jpg' %}{% endimage %}

        {% stylesheets output='css/all.css' filter='?yui_css, cssrewrite'
            'css/bootstrap.css'
            '@DefaultBundle/Resources/public/css/*.css'
            '@DefaultBundle/Resources/public/css/*.less'
        %}
        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}

        <title>{% block title %}{{ 'blocktitle' | trans({}, 'main') }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {{ include('@Default/header.html.twig') }}

        {% block body %}{% endblock %}

        {{ include('@Default/footer.html.twig') }}

        {% javascripts output='js/all.js' filter='?yui_js'
            'js/jquery.js'
            'js/bootstrap.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascripts %}{% endblock %}

        <script>
            jQuery(document).ready(function() {
                var offset = 220;
                var duration = 500;
                jQuery(window).scroll(function() {
                    if (jQuery(this).scrollTop() > offset) {
                        jQuery('.back-to-top').fadeIn(duration);
                    } else {
                        jQuery('.back-to-top').fadeOut(duration);
                    }
                });

                jQuery('.back-to-top').click(function(event) {
                    event.preventDefault();
                    jQuery('html, body').animate({scrollTop: 0}, duration);
                    return false;
                })
            });
        </script>
    </body>
</html>
