<div class="brand">
    {{ 'title.long' | trans({}, 'main') | raw | nl2br }}
</div>

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="locale" href="{{ path('switch_locale', {"locale": 'locale.language' | trans({}, 'main') }) }}">
            <img src="{{ asset('locale.image' | trans({}, 'main')) }}">
        </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('homepage') }}">
            {{ 'title.short' | trans({}, 'main') }}
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li>
                <a class="link" href="{{ path('homepage') }}">{{ 'title' | trans({}, 'home') }}</a>
            </li>
            <li>
                <a class="link" href="{{ path('presentation') }}">{{ 'title' | trans({}, 'presentation') }}</a>
            </li>
            <li>
                <a class="link" href="{{ path('schedule') }}">{{ 'title' | trans({}, 'schedule') }}</a>
            </li>
            <li>
                <a class="link" href="http://www.bridgevds.com">{{ 'title' | trans({}, 'registration') }}</a>
            </li>
            <li>
                <a class="link" href="{{ path('prizes') }}">{{ 'title' | trans({}, 'prizes') }}</a>
            </li>
            <li>
                <a class="link" href="http://resubridge.com/?idFestival=73" target="_blank">{{ 'title.result' | trans({}, 'main') }}</a>
            </li>
            <li>
                <a class="link" href="{{ path('newsletter') }}">{{ 'title' | trans({}, 'newsletter') }}</a>
            </li>
            <li>
                <a class="link" href="{{ path('partners') }}">{{ 'title' | trans({}, 'partners') }}</a>
            </li>
            <li>
                <a class="link" href="{{ path('contact') }}">{{ 'title' | trans({}, 'contact') }}</a>
            </li>
            <li>
                <a class="link" href="{{ path('map') }}">{{ 'title' | trans({}, 'map') }}</a>
            </li>
            <li class="locale">
                <a class="locale" href="{{ path('switch_locale', {"locale": 'locale.language' | trans({}, 'main') }) }}">
                    <img src="{{ asset('locale.image' | trans({}, 'main')) }}">
                </a>
            </li>
        </ul>
    </div>
</nav>
